<ion-header>
  <ion-toolbar>
    <ion-title>Crear Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
    <form (ngSubmit)="crear($event);" [formGroup]="formUsuario" *ngIf="formUsuario">

      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/profile_image.png"></ion-img>
        </ion-avatar>
      </ion-item>
  
      <ion-card-content>

        <ion-item lines="full">
          <ion-label position="floating">Nombres:</ion-label>
          <ion-input formControlName="usuario"></ion-input>
        </ion-item>
        
        <div *ngIf="(usuario.dirty || usuario.touched) && usuario.errors" class="errors">
          <span *ngIf="usuario.errors?.required">Ingrese el(los) nombre(s)</span>
        </div>
    
        <ion-item lines="full">
          <ion-label position="floating">Apellidos:</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>
    
        <div *ngIf="(apellido.dirty || apellido.touched) && apellido.errors" class="errors">
          <span *ngIf="apellido.errors?.required">Ingrese el(los) apellido(s)</span>
        </div>
    
        <ion-item lines="full">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
    
        <div *ngIf="(correo.dirty || apellido.touched) && apellido.errors" class="errors">
          <span *ngIf="correo.errors?.required">Ingrese el correo electrónico</span>
          <span *ngIf="correo.errors?.email">Correo electrónico es incorrecto</span>
        </div>
    
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" 
            [disabled]="!formUsuario.valid">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Crear
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>

    </form>

  </ion-card>

</ion-content>
