<ion-content>

  <ion-card>

    <ion-card-header>
        <ion-card-title>Materias</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <ion-list>
  
          <ion-list-header>
            Lista de Materias
          </ion-list-header>
  
          <ion-item *ngFor="let materia of materias">
 
            <ion-label>
              <h2>{{ materia.descripcion }}</h2>
              <h3>{{ materia.observacion }}</h3>
            </ion-label>
  
            <ion-button (click)="actualizar(materia);">
              <ion-icon name="create"></ion-icon>
            </ion-button>          
            <ion-button (click)="eliminar(materia);">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
  
          </ion-item>
        
        </ion-list>
  
      </ion-card-content>
    
    </ion-card>
  
    <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="registraMateria();">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
