<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="tab-lectivos">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Gestión periodos lectivos</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="tab-materias">
        <ion-icon name="book"></ion-icon>
        <ion-label>Gestionar Materias</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="tab-materias-profesores">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Gestionar Materias/Profesores</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
