<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button color="dark" (click)="cerrarModal();">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>Listado Representantes</ion-title>
  
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <ion-list>

        <ion-item *ngFor="let representante of representantes">

          <ion-avatar slot="start">
            <ion-img [src]="representante.representantes_tareas.usuario.imagen_url"></ion-img>
          </ion-avatar>

          <ion-label>
          
            <h2>
              {{ representante.representantes_tareas.usuario.nombre_completo }}
            </h2>
          
          </ion-label>

          <ion-toggle 
          slot="end" 
          (ngModelChange)="retirarRepresentante(representante)" 
          color="kids"
          [(ngModel)]="representante.representantes_tareas.auditoria.estado"></ion-toggle>

        </ion-item>
      
      </ion-list>

     </ion-card-content>
  
  </ion-card>

</ion-content>
