<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Clases Virtuales</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-list-header>
          Lista clases vituales
        </ion-list-header>

        <ion-item *ngFor="let sesion of sesiones">

          <ion-label>
            <h2>Tema: {{ sesion.descripcion }}</h2>
            <h3>Observcación: {{ sesion.observacion }}</h3>
            <p>Fecha hora inicio: {{ sesion.fecha_hora_inicio | date: 'yyyy-MM-dd HH:mm' }}</p>
            <p>Fecha hora final: {{ sesion.fecha_hora_final | date: 'yyyy-MM-dd HH:mm' }}</p>
            <p>Profesor: {{ sesion.profesor.nombre_completo }}</p>
          </ion-label>

        </ion-item>
      
      </ion-list>

    </ion-card-content>
  
  </ion-card>

</ion-content>
