ion-content {

    --overflow: hidden;
    --padding-top: 5%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: linear-gradient(197deg, rgb(231, 205, 255) 0%, rgb(145, 217, 250) 13.5%, rgb(200, 0, 250) 33.33%, rgb(255, 217, 217) 100%) !important;
}

.input-group {

    background: #fff;
    border-radius: 10px;    
    overflow: hidden;
    margin-bottom: 15px;

}

ion-content {
    ion-col {
        display: flex;
    }
}

ion-card-header {

    img: {
        margin: 0 auto;
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

}