<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button color="dark" (click)="cerrarModal();">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>Entregar Tarea</ion-title>
  
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Información de tus Hijos</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-list-header>
          Listado
        </ion-list-header>

        <ion-item *ngFor="let hijo of hijos; let i = index;">
          <!-- ./assets/profile_image.png -->
          <ion-avatar slot="start">
            <img [src]="!hijo.foto.data? 'assets/profile_image.png': hijo?.foto_url">
          </ion-avatar>

          <ion-label>
            <h2>Nombres: {{ hijo.nombre_completo }}</h2>
            <p>Edad: {{ hijo.edad }}</p>
          </ion-label>

          <ion-button (click)="entregar(hijo);" color="kids">
            <ion-icon name="create"></ion-icon>
          </ion-button>          

        </ion-item>
      
      </ion-list>

    </ion-card-content>
  
  </ion-card>

</ion-content>
