<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content>

  <ion-tabs>
    
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="tab-tareas">
        <ion-icon name="person"></ion-icon>
        <ion-label>Gestionar Tareas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profesores">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Recepción Tareas</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>

  </ion-tabs>
  
</ion-content>
