<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="administradores">
        <ion-icon name="person"></ion-icon>
        <ion-label>Administradores</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="profesores">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profesores</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
