<ion-content>

  <video class="localvideo" controls autoplay muted #videoLocal></video>
  <div class="video">
    <video class="remotevideo" controls autoplay #videoRemoto width="520" height="760"></video>
    <canvas id="canvas" width="520" height="760"></canvas>
  </div>


  <div class="contendor-botones">
    <ion-button color="secondary" tooltip="Detección Facial" 
    (click)="initPrediction();" *ngIf="tokenCliente.codigo_perfil === 3">
      <ion-icon name="scan-circle"></ion-icon>
    </ion-button>
    <ion-button color="danger" tooltip="Colgar Llamada" (click)="colgarLlamada();">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>