.localvideo {
  object-fit: cover;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  min-height: 20%; 
  height: 20%; 
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.remotevideo {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

canvas {
  position: absolute;
}

.video {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}