<ion-content>

  <video class="remotevideo" controls autoplay #videoRemoto width="100%"></video>
  <video class="localvideo" controls autoplay muted #videoLocal></video>

  <div class="contendor-btn">
    <ion-button tooltip="Número usuarios: {{ numeroUsuarios }}">
      <ion-badge color="primary">{{ numeroUsuarios}}</ion-badge>
    </ion-button>
    <ion-button color="secondary" tooltip="Detección Facial">
      <ion-icon name="scan-circle"></ion-icon>
    </ion-button>
    <ion-button color="danger" tooltip="Colgar Llamada">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>