<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
      <ion-buttons slot="end" class="boton">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let page of pages">
        <ion-item [routerLink]="page.pagina">
          <ion-icon name="{{page.icon}}" slot="start"></ion-icon>
          <ion-label>
            {{page.descripcion}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>